body {
    &.politicas {
        background-color: #f6f6f6;
        .title {
            font-weight: normal;
            color: #606060;
        }
        #content-wrapper {
            margin: 0 7rem;
        }
        .politicas-content {
            border: 1px solid #606060;
            background: white;
            padding: 1rem;
            .content {
                display: none;
                &.open {
                    display: block;
                }
            }
            .open-content {
                cursor: pointer;
                &.open {
                    h4 {
                        color: $base-color;
                    }
                }
            }
            h4 {
                color: #727272;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        &.politicas {
            #content-wrapper {
                margin: 0 2rem !important;
            }
        }
    }
}
