#footer {
    > .wrapper {
        > div {
            padding: 0;
            border-bottom: 1px solid $gray-medium;
            overflow: hidden;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    border-top: none;
    background: white;
    h2 {
        text-align: center;
        padding: 0 15px;
    }
    .footer-newsletter {
        text-align: center;
        .wd-marketing-newsletter {
            max-width: 500px;
            margin: 0 auto;
            .wd-header,
            .input-name-marketing-newsletter,
            label,
            p {
                display: none;
            }
            .input-email-marketing-newsletter {
                width: 79%;
                float: left;
                input {
                    height: 30px;
                }
                @include grid-media($grid-smartphone) {
                    width: 70%;
                }
                input {
                    @include round-right(0);
                }
            }
            .input-button-marketing-newsletter {
                float: left;
                width: 21%;
                @include grid-media($grid-smartphone) {
                    width: 30%;
                }
                button {
                    background: url(/custom/content/themes/Base/Imagens/footer-go.png)
                        scroll 0 0 transparent;
                    margin-left: 15px;
                    padding: 0;
                    width: 170px;
                    height: 30px;
                    text-indent: -9999rem;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    overflow: hidden;
                }
            }
        }
    }
    .footer-atendimento {
        .contato {
            max-width: 740px;
            margin: 0 auto;
            padding: 30px 0 15px 0;
            overflow: hidden;
            > div {
                @include grid-media($grid-smartphone) {
                    text-align: center;
                    margin: 15px 0;
                }
            }
            i {
                float: left;
                font-size: 44px;
                margin-right: 18px;
                @include grid-media($grid-pp) {
                    display: none;
                }
            }
            strong {
                display: block;
                margin: 3px 0 5px 0;
            }
            a:not(.btn) {
                font-size: 1.3em;
            }
            .phone {
                a {
                    color: $font-dark;
                }
            }
        }
        .horario {
            color: $gray-dark;
            text-align: center;
        }
    }
    .footer-category {
        h2 {
            text-align: left;
            padding: 0;
        }
        .cms-page-menu {
            float: right;
            .cms-page {
                &.active {
                    small {
                        @include grid-media($grid-smartphone) {
                            &::after {
                                @include aws-icon("\f106");
                            }
                        }
                    }
                    .wd-page-menu {
                        > ul {
                            display: block;
                        }
                    }
                }
                small {
                    @include grid-media($grid-smartphone) {
                        &::after {
                            @include aws-icon("\f107");
                            float: right;
                        }
                    }
                }
                .wd-page-menu {
                    > ul {
                        padding-bottom: 15px;
                        @include grid-media($grid-smartphone) {
                            display: none;
                        }
                        li {
                            margin: 0;
                            margin-top: 15px;
                            a {
                                font-size: 0.9em;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-social {
        * {
            text-align: center;
        }
        .box {
            max-width: 450px;
            margin: 0 auto;
            overflow: hidden;
        }
        .icons {
            a {
                padding: 1.3em 0.8em;
                display: inline-block;
            }
            i {
                font-size: 30px;
            }
        }
    }
    .certificados,
    .assinatura {
        background-color: #fff;
        color: $gray-dark;
    }
    .certificados {
        border-top: 1px solid $gray-medium;
        padding: 30px 0;
        &.simples {
            border-top: 0;
        }
        .col {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .title,
        .shields {
            float: left;
        }
        .title {
            margin-right: 10px;
        }
        .shields {
            > a {
                float: left;
                margin: 5px 10px;
                &.shield-letsencrypt {
                    width: 77px;
                    height: 63px;
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/lets-encrypt.png);
                }
            }
            .payment {
                width: 32px;
                height: 20px;
                margin: 5px;
                float: left;
                background-color: #fff;
                background-repeat: no-repeat;
                &.payment-pay-amex {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-amex.png);
                }
                &.payment-pay-code {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-code.png);
                }
                &.payment-pay-master {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-master.png);
                }
                &.payment-pay-visa {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-visa.png);
                }
            }
        }
    }
    .assinatura {
        .wrapper {
            > .row {
                border-bottom: 1px solid $gray-light;
                border-top: 1px solid $gray-light;
                padding: 30px 0;
                overflow: hidden;
            }
        }
        .aboutme {
            p {
                margin: 0;
            }
        }
        .copyright,
        .creators {
            text-align: center;
        }
        .creators {
            padding-top: 20px;
            overflow: hidden;
            small {
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    .first-row {
        border-top: 1px solid #ccc;
        display: flex;
        .footer-social {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 15rem;
            font-size: 16px;
            margin-left: 10rem;
            margin-right: 4rem;
            a {
                font-size: 20px;
            }
        }
        .footer-newsletter {
            display: flex;
            align-items: center;
            padding-right: 2rem;
            small {
                margin-bottom: 0.5rem;
                margin-right: 3rem;
                font-size: 16px;
            }
        }
    }

    .second-row {
        display: flex;
        justify-content: space-between;
        padding: 10px !important;
        border-bottom: none !important;
        margin-top: 1rem;
        margin-bottom: 3rem;
        div {
            margin-right: 1rem;
        }
        .pagamento {
            display: flex;
            i.visa {
                background: url(/custom/content/themes/Base/Imagens/icons-sprite.png)
                    no-repeat scroll 1px -237px transparent;
                width: 54px;
                height: 34px;
                margin-right: 5px;
                display: block;
            }
            i.master {
                background: url(/custom/content/themes/Base/Imagens/icons-sprite.png)
                    no-repeat scroll 1px -101px transparent;
                width: 54px;
                height: 34px;
                margin-right: 5px;
                display: block;
            }
            i.amex {
                background: url(/custom/content/themes/Base/Imagens/icons-sprite.png)
                    no-repeat scroll 1px -135px transparent;
                width: 54px;
                height: 34px;
                margin-right: 5px;
                display: block;
            }
            i.elo {
                background: url(/custom/content/themes/Base/Imagens/icons-sprite.png)
                    no-repeat scroll 1px -374px transparent;
                width: 54px;
                height: 34px;
                margin-right: 5px;
                display: block;
            }
            i.dinners {
                background: url(/custom/content/themes/Base/Imagens/icons-sprite.png)
                    no-repeat scroll 1px -271px transparent;
                width: 54px;
                height: 34px;
                margin-right: 5px;
                display: block;
            }
            i.boleto {
                background: url(/custom/content/themes/Base/Imagens/icons-sprite.png)
                    no-repeat scroll 1px -339px transparent;
                width: 54px;
                height: 34px;
                display: block;
            }
        }
        .institucional {
            a {
                color: #606060;
                margin-right: 0.5rem;
                padding: 1rem;
                &:hover {
                    color: $base-color;
                    text-decoration: none;
                }
            }
        }
        .certificates {
            display: flex;
            a {
                &#seloEbit {
                    margin: 0 0.5rem 0.5rem 0.5rem;
                }
            }
            span {
                &#siteseal {
                    margin: 0 0.5rem 0.5rem 0.5rem;
                }
            }
        }
    }

    .third-row {
        display: flex;
        border-bottom: none !important;
        margin-bottom: 2rem;
        align-items: center;
        padding: 1rem !important;
        justify-content: space-between;
        div {
            margin-right: 1rem;
        }
        .disclaimer {
            font-size: 12px;
        }
        .ride-top {
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
            color: #606060;
            font-size: 12px;
            &:hover {
                text-decoration: none;
                color: $base-color;
            }
        }
    }

    .fourth-row {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        .animated-logo {
            width: 85px;
            img {
                width: 85px;
            }
        }
    }
}

@media screen and (max-width: 1060px) {
    .first-row {
        .footer-newsletter {
            align-items: flex-start !important;
            flex-direction: column;
            margin-left: 0.6rem;
            small {
                margin-left: 0.6rem;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .first-row {
        display: none !important;
    }
    .second-row {
        flex-direction: column;
        align-items: center;
        div {
            margin-bottom: 2rem;
        }
    }
    .third-row {
        flex-direction: column;
        div {
            margin-bottom: 1rem;
        }
        .disclaimer {
            max-width: 30rem;
        }
    }
}
