.wd-checkout-basket-summaryheader {
    .summaryheader-content {
        display: none !important;
        &:hover {
            display: none !important;
        }
        &::before {
            display: none !important;
        }
        &::after {
            display: none !important;
        }
    }
    .summaryheader-content-show {
        display: block !important;
        width: 390px;
        border: 1px solid #bbb !important;
        margin-top: 4px;
        min-width: 100%;
        z-index: 100;
        box-sizing: border-box;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
        &:hover {
            display: block !important;
            cursor: pointer;
        }
        &::before {
            content: "";
            @include aws-icon("\f0d8");
            font-size: 24px;
            color: #cdcdcd;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    >a {
        &:hover {
            text-decoration: none;
        }
        b {
            font-size: 0;
            &:before {
                // @include aws-icon("\f07a");
                // font-size: 27px;
                // position: relative;
                // top: 4px;
                content: "";
                background: url(/custom/content/themes/#{$theme-path}/Imagens/icon-outline.png) no-repeat -85px 7px;
                width: 2rem;
                height: 2.1rem;
                display: block;
                position: relative;
                right: 3rem;
            }
            &:after {
                content: "mochila";
                font-size: 12px;
                color: #606060;
                position: absolute;
                top: 1.1rem;
                right: 0;
            }
        }
        .basket-size-wrapper {
            background-color: #f9394d;
            color: #f6f6f6;
            width: 12px;
            height: 15px;
            margin: 3px 0 0;
            position: absolute;
            left: -1.7rem;
            top: 0;
            font-size: 10px;
            text-align: center;
            line-height: 15px;
            border: none;
            font-weight: normal;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border-radius: 3px;
            overflow: hidden;
        }
    }
    &.empty {
        .summaryheader-content-show {
            padding: 10px 15px;
            text-align: center;
            >div {
                display: none;
            }
            &::before {
                display: none;
            }
            &:after {
                content: "nenhum item no carrinho de compras." !important;
                font-size: 14px !important;
                display: block !important;
                padding: 20px 0 18px;
                text-align: center;
                font-weight: 300 !important;
                color: #8d8d8d;
            }
        }
    }
    .wd-widget {
        background-color: #fff;
        border: 1px solid $gray-light;
        top: 35px;
        padding: 0;
        text-transform: lowercase;
        width: 390px !important;
        @media screen and (min-width: 321px) and (max-width: 375px) {
            width: 350px !important;
            right: -5px;
        }
        @media screen and(max-width: 320px) {
            width: 300px !important;
            right: -6px;
            .wd-content {
                ul {
                    li {
                        &.img {
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
        .wd-header {
            font-size: 18px;
            text-align: left;
            padding: 20px;
            border-bottom: 1px solid #eee;
            .wd-icon,
            .wd-title {
                display: none;
            }
            .qty-itens {
                position: absolute;
                li {
                    margin: 0;
                    font-size: 14px;
                    color: #606060;
                    font-weight: 100;
                }
            }
            .subtotal {
                display: block;
                float: right;
                font-size: 14px;
                color: #606060;
                margin-bottom: 10px;
                li {
                    font-weight: 100;
                    margin: 0;
                    line-height: 15px;
                    &.value {
                        text-transform: uppercase;
                        text-align: right;
                    }
                }
            }
            .go-to-checkout {
                text-transform: lowercase;
                width: 100%;
                border-radius: 0;
                height: 50px;
                font-size: 17px;
                font-weight: 100;
                &:hover {
                    background-color: $btn-hover;
                }
            }
        }
        .wd-content {
            padding: 20px;
            margin: 0;
            ul {
                padding: 0;
                margin-bottom: 10px;
                border-bottom: 1px solid #eee;
                position: relative;
                line-height: 0;
                height: 120px !important;
                @media screen and(max-width: 425px) {
                    height: 150px !important;
                    li {
                        &.price {
                            position: relative;
                            bottom: 5px;
                        }
                    }
                }
                li {
                    &.img {
                        width: 20%;
                    }
                    &.name {
                        width: 75%;
                        margin-left: 5%;
                        padding: 0;
                        .freeitem {
                            display: none;
                        }
                    }
                    &.price {
                        width: 75%;
                        margin-left: 5%;
                        font-weight: bold;
                        font-size: 1em;
                        text-transform: capitalize;
                        text-align: left;
                        color: #606060;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                .adicionar-mais {
                    position: absolute;
                    width: auto;
                    left: 25%;
                    bottom: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    line-height: 0;
                    margin: 0;
                    .botaoMenosMinicartInativo,
                    .botaoMenosMinicart {
                        height: 30px;
                        padding: 0 15px;
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        background-color: transparent;
                        color: $base-color;
                        border: 1px solid #ddd;
                        border-right: 0;
                    }
                    input[type="text"] {
                        height: 30px;
                        text-align: center;
                        width: 42px;
                        border-radius: 0;
                        border: 1px solid #ddd;
                        border-left: 0;
                        border-right: 0;
                    }
                    .botaoMaisMinicart {
                        height: 30px;
                        position: relative;
                        padding: 0 15px;
                        border-top-right-radius: 2px;
                        border-bottom-right-radius: 2px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        background-color: transparent;
                        color: $base-color;
                        border: 1px solid #ddd;
                        border-left: 0;
                    }
                }
            }
            .removeItemFromCart {
                position: absolute;
                top: 69%;
                right: 0;
            }
            .subtotal {
                padding: 0;
                height: auto;
                li {
                    margin: 0;
                }
                .value {
                    position: initial;
                    float: right;
                }
            }
        }
        .wd-footer {
            padding: 20px;
            border-top: 1px solid $gray-light;
            .go-to-basket {
                width: 100%;
                color: #606060;
                border: 1px solid #ccc;
                background-color: transparent;
                border-radius: 0;
                text-transform: lowercase;
                &:hover {
                    background-color: #e8e8e8;
                }
            }
        }
    }
}

@media only screen and (max-width: 1220px) {
    .wd-checkout-basket-summaryheader {
        >a {
            b {
                &:after {
                    padding-left: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 985px) {
    .wd-checkout-basket-summaryheader {
        >a {
            b {
                &:after {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main-bar {
        .icons-resume {
            .dropdown-cart {
                .wd-checkout-basket-summaryheader {
                    >a {
                        b {
                            &:before {
                                right: 0;
                            }
                        }
                        .basket-size-wrapper {
                            left: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}