.hamburguer {
    position: initial;
    text-align: left;
    &.active {
        > i {
            &::before {
                @include aws-icon("\f00d");
            }
        }
        .dropdown-menu {
            display: block;
        }
    }
    > i {
        &::before {
            @include aws-icon("\f0c9");
            color: $base-color;
            font-size: 1.8em;
        }
    }
    @include grid-media($grid-g) {
        display: none;
    }
    @include grid-media($grid-gg) {
        display: none;
    }
    .dropdown-menu {
        display: none;
        background-color: #fff;
        padding: 10px 15px;
        position: fixed;
        width: 100%;
        left: 0;
        top: 45px;
        z-index: 3;
        height: 100vh;
        overflow: scroll;
        top: 70px;
        .account a {
            color: $font-dark;
            font-weight: bold;
            padding: 5px 1em;
            display: block;
            font-size: 1.1em;
        }
        .category-menu-small {
            .wd-category-menu {
                .level-1 {
                    > li {
                        margin: 0;
                        &.has-children {
                            h3 {
                                .icon {
                                    float: right;
                                    &::after {
                                        @include aws-icon("\f0d7");
                                        display: block;
                                        font-size: 1.4em;
                                    }
                                }
                            }
                        }
                        h3,
                        h4 {
                            font-size: 1em;
                            margin: 0;
                            text-transform: uppercase;
                        }
                        h3 {
                            border-bottom: 1px dashed #bebebe;
                            padding: 1em;
                            font-weight: 300;
                            color: #606060;
                            font-size: 15px;
                            text-transform: lowercase;
                            a {
                                width: 100%;
                                display: block;
                            }
                        }
                        a {
                            color: $font-dark;
                        }
                        &.active {
                            h3 {
                                .icon::after {
                                    @include aws-icon("\f0d8");
                                }
                            }
                            .level-2 {
                                display: block;
                            }
                        }
                        .level-2 {
                            display: none;
                            padding-left: 20px;
                            h4 {
                                padding: 5px;
                                font-weight: 300;
                                color: #606060;
                                font-size: 15px;
                                text-transform: lowercase;
                            }
                        }
                        &.first {
                            h3 {
                                border-top: 1px dashed #bebebe;
                            }
                        }
                    }
                }
            }
        }
    }
}
