header {
    .top-bar {
        background-color: $base-color;
        font-size: 0.9em;
        padding: 10px 0;
        color: white;
    }
    .ofertas {
        text-align: center;
        text-transform: lowercase;
        font-size: 0.9em;
        display: flex;
        justify-content: space-evenly;
        span {
            display: flex;
            align-items: center;
            &.preco-frete {
                text-transform: capitalize;
            }
        }
    }
    .links {
        text-align: right;
    }
    .ofertas,
    .links {
        i {
            margin-right: 5px;
            font-size: 1.5em;
        }
    }
    &.flutuante {
        .top-bar {
            margin-bottom: 82px;
        }
        .main-bar {
            position: fixed;
            top: 0;
            z-index: 55;
            width: 100%;
            box-shadow: 1px 1px 1px 1px $gray-semilight;
        }
    }
    .main-bar {
        .topo {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0 1rem;
        }
        padding: 20px 0;
        background: #fff;
        &.simples {
            box-shadow: 1px 1px 1px 1px $gray-semilight;
        }
        .wd-search {
            overflow: inherit;
            .input-wrapper {
                margin-bottom: 0;
                input {
                    @include round-right(0);
                }
            }
            button {
                position: absolute;
                right: 6.5rem;
                height: auto;
                top: 1px;
                width: auto;
                background: white;
                @include round-left(0);
                &:before {
                    @include aws-icon("\f002");
                    color: $base-color;
                    font-size: 20px;
                    position: absolute;
                    top: 0.6rem;
                    right: 0.4rem;
                }
            }
        }
        .wd-profile-welcome-shopper {
            position: relative;
            line-height: 30px;
            right: 30px;
            &:hover {
                .widget-title {
                    .title {
                        color: $base-color;
                    }
                }
                .widget-content {
                    display: block;
                    margin-top: 12px;
                    border: 3px solid #cdcdcd;
                    width: 180px;
                    border-radius: 2px;
                    text-transform: lowercase;
                    &::before {
                        content: "";
                        @include aws-icon("\f0d8");
                        font-size: 24px;
                        color: #cdcdcd;
                        position: absolute;
                        left: 98px;
                        top: -17px;
                    }
                    .shopper-authenticated {
                        a {
                            b {
                                &.logout {
                                    position: absolute;
                                    left: 40px;
                                    top: 5px;
                                }
                            }
                            span {
                                &.profile {
                                    position: relative;
                                    left: 0;
                                    background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                                        no-repeat scroll 1px -79px transparent;
                                    width: 23px;
                                    height: 34px;
                                    margin-right: 5px;
                                    display: block;
                                }
                                &.click-here {
                                    position: absolute;
                                    left: 40px;
                                    top: 5px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    width: 100px;
                                }
                                &.orders {
                                    position: relative;
                                    left: 0;
                                    background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                                        no-repeat scroll -45px -79px transparent;
                                    width: 23px;
                                    height: 34px;
                                    margin-right: 5px;
                                    display: block;
                                }
                                &.desejos {
                                    position: relative;
                                    left: 0;
                                    background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                                        no-repeat scroll -88px -79px transparent;
                                    width: 23px;
                                    height: 34px;
                                    margin-right: 5px;
                                    display: block;
                                }
                                &.logout {
                                    position: relative;
                                    left: 0;
                                    background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                                        no-repeat scroll -132px -79px
                                        transparent;
                                    width: 23px;
                                    height: 34px;
                                    margin-right: 5px;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            i.fa-user {
                font-size: 24px;
                padding-right: 5px;
                color: $base-color;
                &:before {
                    background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                        no-repeat -44px 7px;
                    content: "" !important;
                    width: 2rem;
                    height: 2.1rem;
                    display: block;
                }
            }
            .widget-title {
                line-height: 45px;
                .title {
                    color: $font-dark;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    bottom: 0.25rem;
                    right: 0.5rem;
                    span,
                    i {
                        color: $base-color;
                    }
                }
            }
            .widget-content {
                display: none;
                position: absolute;
                left: 0px;
                top: 30px;
                min-height: 100px;
                width: 150px;
                padding: 15px;
                box-sizing: border-box;
                border: 1px solid $gray-light;
                background: #fff;
                overflow: visible;
                z-index: 2;
                .login-wrapper,
                .new-account {
                    display: block;
                    text-align: center;
                }
                .wd-profile-login {
                    display: none !important;
                }
                .login-title {
                    background-color: $btn-buy;
                    color: $font-light;
                    margin-bottom: 10px;
                    @include round(2px);
                }
                .shopper-authenticated {
                    a {
                        line-height: auto;
                        display: block;
                        &.put-pipe {
                            padding: 0;
                            &:before {
                                display: none;
                            }
                            b {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
            &.not-logged {
                right: 0;
                .widget-content {
                    display: none !important;
                }
            }
        }
        .main-wishlist {
            font-size: 30px;
            text-align: center;
            a {
                color: $base-color-2;
                &:hover {
                    color: darken($base-color-2, 10%);
                }
            }
        }
        .icons-resume {
            order: 1;
            .resume-wrapper {
                display: flex;
                justify-content: space-between;
                width: 10rem;
            }
        }
        #top-search {
            flex: 0 0 45%;
            margin-left: 7rem;
        }
    }
}

@media screen and (max-width: 992px) {
    header {
        .links {
            display: none;
        }
        .main-bar {
            .wd-search {
                button {
                    right: 0.5rem;
                    top: 0.5rem;
                }
            }
        }
    }
    .wd-profile-welcome-shopper {
        display: none;
    }
    .topo {
        display: block !important;
        .hamburguer {
            float: left;
        }
        #logo {
            float: left;
            margin-left: 0.5rem;
        }
        .icons-resume {
            float: right;
        }
    }
    #top-search {
        padding-top: 3rem;
        margin-left: 0 !important;
        .wd-search {
            .input-wrapper {
                width: 100%;
            }
            form {
                position: relative;
            }
        }
    }
    .icons-resume {
        padding: 0;
        .main-wishlist,
        .dropdown-cart {
            padding: 0;
        }
        .dropdown-cart {
            font-size: 1.2em;
        }
        .resume-wrapper {
            width: auto !important;
            .wd-checkout-basket-summaryheader {
                > a {
                    .basket-size-wrapper {
                        left: 1.3rem !important;
                    }
                    b {
                        &:before {
                            position: initial !important;
                        }
                    }
                }
            }
        }
    }
}
