body {
    &.BasketIndexRoute {
        .wd-checkout-basket {
            .total {
                height: auto;
            }
        }
        #main {
            background: #f6f6f6;
        }
        #content {
            margin-top: 1rem;
        }
        .wd-browsing-breadcrumbs {
            display: none;
        }
        .wd-checkout-basket {
            .main-component {
                background: white;
            }
            .wd-checkout-basket-grid {
                background: white;
                .grid-title {
                    background: white;
                    border-bottom: 4px solid #ebebeb;
                    li {
                        padding: 11px 9px;
                        padding-top: 18px;
                        margin-bottom: 0;
                        &.product {
                            padding-left: 1.2rem;
                        }
                        &.subtotal {
                            text-align: center;
                        }
                    }
                }
                .grid {
                    border: none;
                    li {
                        span {
                            color: #606060;
                            text-transform: lowercase;
                            font-weight: normal;
                        }
                    }
                }
            }
            .grid-informations {
                .item {
                    padding-right: 0;
                    ul {
                        li {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .data {
                        a {
                            strong {
                                text-transform: lowercase;
                                color: #606060;
                                font-weight: 400;
                            }
                        }
                        .skuoptions {
                            .skuoptions-option {
                                text-transform: lowercase;
                                color: #606060;
                                font-weight: 400;
                            }
                        }
                    }
                    .quantity {
                        .change {
                            button {
                                background: #949292;
                                color: #fff;
                                width: 20px;
                                display: inline-block;
                                font-size: 10px;
                                height: 20px;
                                line-height: 19px;
                                cursor: pointer;
                                padding: 0;
                                border: 0;
                            }
                            input {
                                border: 0;
                                vertical-align: sub;
                                box-shadow: none;
                                width: 47px;
                                height: auto;
                            }
                        }
                        .remove {
                            text-transform: lowercase;
                            color: #606060;
                            text-decoration: underline;
                            i {
                                display: none;
                            }
                        }
                    }
                    .price {
                        div {
                            font-weight: 700;
                            font-size: 18px;
                            color: #606060;
                            padding-bottom: 2rem;
                            padding-right: 1rem;
                        }
                    }
                    .subtotal {
                        font-size: 18px;
                        padding-bottom: 2rem;
                        padding-right: 0.5rem;
                        color: #606060;
                    }
                }
                .main-buttons {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .bottom-grid {
                    .bt-keep-buying {
                        padding: 0;
                        border: none;
                        text-decoration: underline;
                        text-transform: lowercase;
                        &:hover {
                            background: transparent;
                        }
                    }
                    .bt-clear-basket {
                        text-decoration: underline;
                        color: #606060;
                    }
                }
            }
        }
        .cart-header {
            display: flex;
            justify-content: space-between;
            .track-cart {
                position: relative;
                ul {
                    display: flex;
                    li {
                        display: inline-block;
                        padding: 0.5rem;
                        a {
                            text-indent: -9999rem;
                            color: #fff !important;
                            font-size: 2rem;
                            background: #9a9a99;
                            border-radius: 100%;
                            width: 40px;
                            height: 40px;
                            line-height: 48px;
                            text-align: center;
                            display: block;
                            margin: 0px auto 5px auto;
                            position: relative;
                            z-index: 10;
                            text-transform: initial;
                        }

                        &.mo {
                            a {
                                background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                                    no-repeat 7px -37px $base-color;
                            }
                            &:after {
                                content: "mochila";
                            }
                        }
                        &.id {
                            a {
                                background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                                    no-repeat -36px -37px #393938;
                            }
                            &:after {
                                content: "identificação";
                            }
                        }
                        &.ch {
                            a {
                                background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                                    no-repeat -79px -37px #393938;
                            }
                            &:after {
                                content: "checkout";
                            }
                        }
                        &.co {
                            a {
                                background: url(/custom/content/themes/Base/Imagens/icon-outline.png)
                                    no-repeat -123px -37px #393938;
                            }
                            &:after {
                                content: "confirmação";
                            }
                        }
                    }
                    &:after {
                        background: #d2d2d2;
                        content: "";
                        height: 1px;
                        top: 37%;
                        position: absolute;
                        width: 70%;
                        z-index: 0;
                        left: 60px;
                    }
                }
            }
        }
        .resumo {
            padding-right: 2rem;
            input {
                box-shadow: 1px 2px 2px #dedede;
                height: 30px;
                border: none;
                &:focus {
                    outline-style: none;
                }
            }
            .wd-checkout-basket-deliveryoptions {
                border: none;
                background: white;
                .description {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid #ebebeb;
                    padding-bottom: 2rem;
                    label {
                        display: none;
                    }
                    .buscaCepCorreios {
                        display: none;
                    }
                    .price {
                        display: none;
                    }
                    button {
                        &.js-shipping-calc {
                            padding: 0;
                            height: 30px;
                            text-transform: lowercase;
                        }
                        &:hover {
                            background: #8e4405;
                        }
                    }
                }
                .delivery-options {
                    .location {
                        display: none;
                    }
                    li {
                        img {
                            display: none;
                        }
                    }
                }
                .header {
                    padding-top: 1rem;
                    border-bottom: 4px solid #ebebeb;
                    padding-bottom: 0.55rem;
                    position: relative;
                    &:after {
                        content: "";
                        height: 3px;
                        position: absolute;
                        background: #ff8700;
                        left: 0;
                        top: 2.8rem;
                        width: 37%;
                        z-index: 1;
                    }
                    .title {
                        font-weight: normal;
                        color: #606060;
                    }
                }
                .content {
                    padding-top: 1rem;
                }
                .types {
                    border: none;
                    border-bottom: 1px solid #cdcdcd;
                    li {
                        input {
                            &[type="radio"] {
                                height: 15px;
                                box-shadow: none;
                            }
                        }
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
            .wd-checkout-basket-discount {
                border: none;
                background: white;
                padding: 10px;
                min-height: 10rem;
                .header {
                    display: none;
                }
                .content {
                    .btn-add-discount {
                        display: none;
                    }
                    #checkout-basket-discount-visible {
                        display: none;
                    }
                    .description {
                        padding-top: 10px;
                        height: 34px;
                        display: flex;
                        #CouponCode {
                            width: 75%;
                            margin: 0;
                            height: 38px;
                        }
                        button {
                            width: 25%;
                            padding: 0;
                            margin: 0;
                            height: 38px;
                            box-shadow: 1px 2px 2px #dedede;
                            border: 1px solid #ebebeb;
                            background: white;
                            color: #606060;
                            &:hover {
                                background: #f2f2f2;
                            }
                        }
                    }
                    .cupom-desconto {
                        border-bottom: 1px solid #cdcdcd;
                        padding-bottom: 2rem;
                    }
                    .vale-compras {
                        border-bottom: 1px solid #cdcdcd;
                        padding-bottom: 2rem;
                        .wrapper-input-valecompras {
                            display: flex;
                            width: 100%;
                        }
                    }
                }
            }
            .total {
                border: none;
                .total {
                    border: none;
                    padding: 10px;
                    .subtotal {
                        padding: 10px;
                        display: flex;
                        justify-content: space-between;
                    }
                    .total {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                        height: auto;
                    }
                    .button-finish {
                        .bt-keep-buying {
                            display: none;
                        }
                        .bt-checkout {
                            width: 100%;
                            background: $base-color;
                            float: left;
                            padding: 0.8rem;
                            &:before {
                                display: none;
                            }
                            &:hover {
                                background: #8e4405;
                            }
                        }
                    }
                }
            }
        }
    }
}
.wd-checkout-basket {
    .botoes-rodape {
        .wd-checkout-basket-buttons {
            @include grid-media($grid-pp) {
                padding: 0 15px;
            }
            button {
                @include grid-media($grid-pp) {
                    width: 100% !important;
                }
            }
            .bt-keep-buying {
                margin-top: 0;
                margin-bottom: 34px;
            }
        }
    }
    .botoes-topo {
        @include grid-media($grid-pp) {
            display: none;
        }
    }
    .wd-checkout-basket-buttons {
        margin-bottom: 40px;
        width: 100%;
        .bt-keep-buying {
            float: left;
            margin-top: 34px;
            margin-left: 0;
        }
        .bt-clear-basket,
        .wd-checkout-basket-oneclickbuy,
        .bt-checkout {
            float: right;
            margin-right: 0;
        }
        .wd-checkout-basket-oneclickbuy {
            width: auto;
            margin-top: 15px;
            .btn-basket-oneclickbuy {
                @extend .btn-big;
                background-image: none;
                background-color: $base-color;
                text-indent: initial;
                padding: 1em 2em !important;
                width: auto;
                height: auto;
            }
        }
        small {
            display: block;
            font-size: 0.6em;
        }
    }
    .wd-product-additional-services {
        .add-service-wrapper {
            background: $gray-extralight;
            padding: 10px 14px 14px;
            border: 1px dashed $gray-semilight;
            color: $gray-dark;
            display: inline-block;
            margin: 10px 0;
            label {
                display: inline-block;
                font-size: 0.9em;
            }
        }
    }
    .basket-bottom {
        border: 1px solid $gray-semilight;
        border-top: 0;
        padding: 15px;
        background-color: $gray-extralight;
        .wd-checkout-basket-discount,
        .wd-checkout-basket-deliveryoptions,
        .total,
        .total .price {
            border: 0;
            background-color: transparent;
        }
        .wd-checkout-basket-discount,
        .wd-checkout-basket-deliveryoptions {
            .header {
                display: none;
            }
        }
        .wd-checkout-basket-discount {
            padding-right: 30px;
            .btn-add-discount {
                color: $base-color;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            label {
                width: auto;
            }
            #checkout-basket-discount-visible {
                display: none;
            }
            .description {
                height: auto;
                label {
                    width: 100%;
                    margin-bottom: 15px;
                }
                input {
                    margin: 0;
                    width: 60%;
                    max-width: 200px;
                    float: left;
                    @include round-right(0);
                }
                .js-coupon-calc {
                    width: 20%;
                    padding: 1em;
                    @include round-left(0);
                    @include grid-media($grid-pp) {
                        width: 40%;
                    }
                }
            }
            .grid {
                padding: 15px 0;
                .cupom {
                    > i {
                        display: none;
                    }
                }
                span {
                    display: block;
                    line-height: 1.6em;
                }
                .js-coupon-remove {
                    padding: 0;
                    background: transparent;
                    color: #06799f;
                    font-size: 0.9em;
                    width: auto;
                    &:hover {
                        text-decoration: underline;
                    }
                    i {
                        padding-right: 3px;
                    }
                }
                .price-item {
                    color: $price-off;
                }
            }
        }
        .wd-checkout-basket-deliveryoptions {
            .description {
                text-align: right;
                @include grid-media($grid-smartphone) {
                    text-align: left;
                }
                label {
                    width: 100%;
                    margin-bottom: 15px;
                }
                .buscaCepCorreios {
                    padding-right: 15px;
                    @include grid-media($grid-smartphone) {
                        display: block;
                        margin-bottom: 15px;
                    }
                }
                input {
                    margin: 0;
                    width: 130px;
                    display: inline-block;
                    @include round-right(0);
                    @include grid-media($grid-smartphone) {
                        float: left;
                    }
                }
                .js-shipping-calc {
                    width: 90px;
                    padding: 1em;
                    float: right;
                    @include round-left(0);
                    @include grid-media($grid-smartphone) {
                        float: left;
                    }
                }
                .price {
                    display: none;
                }
            }
            .delivery-options {
                margin-top: 15px;
                float: left;
                .js-delivery-choice {
                    .photo {
                        width: 50px;
                        height: auto;
                        vertical-align: middle;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .total {
            border-top: 2px solid $gray-semilight;
            padding: 15px 0 15px 30px;
            height: auto;
            .header {
                position: initial;
                margin: 0;
                .title {
                    font-size: 1.5em;
                }
            }
            .price {
                position: initial;
                width: 100%;
                height: auto;
                line-height: initial;
                text-align: right;
                font-weight: normal;
                span {
                    font-size: 1em;
                }
                .list-price {
                    color: $gray-dark;
                    span {
                        font-size: 1em;
                    }
                }
                .savings {
                    .total-discount,
                    .instant-price {
                        display: block;
                        font-size: 2em;
                        color: $cart-total;
                        font-weight: bold;
                    }
                    .variation-amount {
                        color: $price-off;
                        font-weight: bold;
                    }
                }
                .condition {
                    display: block;
                    font-size: 0.85em;
                    font-style: normal;
                    line-height: 1.5em;
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    > .empty {
        background-color: #fff;
        font-size: 1.5em;
        &:before {
            content: ":(";
            font-size: 4em;
            display: block;
            color: $base-color;
        }
        span,
        a {
            display: block;
            border: 0;
            margin: 0;
        }
    }
}

@media screen and(max-width: 768px) {
    body {
        &.BasketIndexRoute {
            .cart-header {
                flex-flow: column;
                align-items: center;
            }
            .wd-checkout-basket {
                .grid-informations {
                    .main-buttons {
                        flex-direction: column;
                        button {
                            margin: 0.5rem;
                        }
                        small {
                            margin: 0.5rem;
                        }
                    }
                }
            }
            .wd-checkout-basket-discount {
                .content {
                    .description {
                        flex-flow: column wrap;
                        height: auto !important;
                        #CouponCode {
                            width: 100% !important;
                            margin-bottom: 0.5rem !important;
                        }
                        button {
                            width: 100% !important;
                        }
                    }
                    .vale-compras {
                        .wrapper-input-valecompras {
                            flex-flow: column wrap;
                            height: auto;
                        }
                    }
                }
            }
            .wd-checkout-basket-grid {
                .grid-title {
                    li {
                        &.subtotal {
                            display: none;
                        }
                    }
                }
                .grid-informations {
                    .item {
                        .price {
                            flex-direction: column;
                            font-size: 15px;
                            &::before {
                                content: "preço unitário";
                                width: 100%;
                                padding-bottom: 9px;
                            }
                            div {
                                padding: 0;
                                margin: 0;
                            }
                        }
                        .subtotal {
                            padding: 0 15px;
                            margin: 10px 0;
                            flex-direction: column;
                            font-size: 15px;
                            text-align: center;
                            &::before {
                                content: "subtotal";
                                padding-bottom: 9px;
                                width: 100%;
                            }
                            strong {
                                font-size: 18px;
                            }
                        }
                        .quantity {
                            flex-direction: column;
                            &::before {
                                content: "quantidade";
                                width: 100%;
                                padding-bottom: 9px;
                                padding-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
