body {
    &.productDetail {
        background: #f6f6f6;
        .wd-widget .wd-header span.wd-icon {
            display: none;
        }
    }
}
.product-detail {
    .ezZoom-container img {
        width: initial !important;
        height: initial !important;
    }
    .wd-product-medias {
        img {
            width: 100%;
            height: auto;
            &::hover {
                width: auto;
            }
        }
    }
    .title {
        border: none;
        margin: 0;
        margin-bottom: 0.5rem;
        padding: 0;
    }
    .click-msg {
        font-size: 1.4em;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $gray-semilight;
        font-weight: normal;
    }
    .head {
        margin: 0 0 50px 0;
        .medias {
            padding: 0;
            .wd-product-medias-displayer {
                float: left;
                .zoom,
                img.ezZoom-small {
                    width: 100% !important;
                    height: auto !important;
                }
            }
            .wd-product-media-selector {
                ul {
                    // &.media-selector {
                    //     display: grid;
                    //     grid-template-columns: repeat(2, 1fr);
                    //     grid-gap: 10px;
                    //     overflow: visible;
                    // }
                    &.media-selector {
                        max-height: 720px;
                    }
                    li {
                        display: block;
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        width: 134px;
                        height: 190px;
                        margin: 0;
                        &:last-child {
                            width: 268px;
                            height: 380px;
                        }
                        &:hover {
                            &:after {
                                content: "";
                                background: #000;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0.34;
                            }
                        }
                        &.selected {
                            &:after {
                                content: "";
                                background: #000;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0.34;
                            }
                        }
                    }
                }
            }
            .wd-product-medias-enlarger {
                display: none !important;
            }
        }
        .information {
            padding-left: 30px;
            padding-right: 0;
            @include grid-media($grid-smartphone) {
                padding: 0;
            }
            .name {
                font-size: 20px;
                color: #606060;
                line-height: 30px;
                font-weight: 300;
                margin-top: 0;
                margin-bottom: 4px;
                text-transform: lowercase;
                padding: 0;
            }
            .logo-brand {
                img {
                    max-width: 80px;
                }
            }
            .wd-product-rating.wd-widget-js {
                padding-top: 12px;
            }
            .product-information {
                color: $gray-dark;
                font-size: 0.9em;
                margin-bottom: 20px;
                padding: 0;
                border-bottom: 2px solid #c8c8c8;
                dd {
                    width: auto;
                    margin-right: 10px;
                    &.short-description {
                        padding: 0;
                        border: 0;
                        margin-bottom: 1.5rem;
                        padding-top: 15px;
                        text-transform: lowercase;
                    }
                    &.product-availability-availability {
                        display: inline-block;
                        font-weight: 700;
                        margin-right: 18px;
                        text-transform: uppercase;
                        vertical-align: top;
                        padding-left: 0;
                        color: #00b200;
                    }
                }
                .long-description {
                    width: 100%;
                }
            }
            .detalhes {
                padding-left: 0;
                > .col {
                    padding: 0;
                }

                @include grid-media($grid-smartphone) {
                    padding: 0;
                }
                .wd-product-variations {
                    width: 100%;
                    margin-bottom: 20px;
                    .options {
                        max-width: 200px;
                        .variation-error {
                            @extend .alert.error;
                        }
                    }
                }
                .wd-product-buy-grid,
                .single-variations,
                .multiple-variations {
                    width: 100%;
                    .click-msg {
                        padding-bottom: 15px;
                    }
                    th,
                    td {
                        text-align: center;
                        .stockTip {
                            width: 40px;
                            margin: 0 auto;
                        }
                    }
                }
                .wd-product-gift {
                    border: 0;
                    .title {
                        float: left;
                        width: 100%;
                    }
                    .wd-product-gift-inline {
                        float: left;
                        width: 100%;
                        ul {
                            li {
                                width: 100%;
                                padding: 15px 0;
                                border: 0;
                                border-bottom: 1px dashed $gray-medium;
                                input {
                                    float: left;
                                    margin-right: 15px;
                                }
                                .wd-gift-title {
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-left: 15px;
                                }
                                &:last-child {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .wd-product-join {
                    margin-bottom: 20px;
                    ul {
                        li {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
            .buy {
                padding-left: 0;
                margin-top: 0;
                @include grid-media($grid-smartphone) {
                    padding: 0;
                }
                div {
                    padding-left: 0;
                }
                .wd-product-price-description {
                    padding-bottom: 1.5rem;
                    border-bottom: 2px solid #c8c8c8;
                    .priceContainer {
                        .list-price{
                            margin-bottom: 1rem;
                        }
                        .sale-price {
                            span {
                                color: #606060;
                                font-weight: bold;
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
                // .price {
                //     border-bottom: 2px solid #c8c8c8;
                // }
                .buttons {
                    margin-top: 1rem;
                }
                .size-guide {
                    margin-top: 25px;
                    font-weight: 300;
                    color: #606060;
                    font-size: 15px;
                    text-transform: lowercase;
                    cursor: pointer;
                    &:before {
                        content: "";
                        background: url(/custom/content/themes/Base/Imagens/icon-guia.png)
                            center center no-repeat scroll;
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        margin-right: 10px;
                        margin-bottom: -5px;
                    }
                }
                .variacoes {
                    margin-top: 2rem;
                    .variation-group {
                        &:not(.type-color-pallete) {
                            .title {
                                text-transform: lowercase;
                            }
                            .options {
                                label {
                                    border: 1px solid transparent;
                                    border-radius: 100%;
                                    color: #606060;
                                    height: 40px;
                                    width: 40px;
                                    font-size: 16px;
                                    outline: 0;
                                    padding: 0;
                                    text-align: center;
                                    background: none transparent;
                                    font-weight: 300;
                                    line-height: 38px;
                                    &.selected {
                                        border: 2px solid $base-color;
                                        .option-text {
                                            color: $base-color;
                                        }
                                    }
                                    span {
                                        line-height: 38px;
                                        input {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &.type-color-pallete {
                            .options {
                                label {
                                    height: 50px;
                                    width: 50px;
                                    border-radius: 100%;
                                    font-size: 0;
                                    // background-size: contain !important;
                                    span {
                                        border: none;
                                    }
                                    &.selected {
                                        border-color: $base-color;
                                    }
                                }
                            }
                        }
                    }
                    .subvariation-group {
                        .title {
                            text-transform: lowercase;
                        }
                        .options {
                            display: flex;
                            label[title="PP"]{
                                order: 1;
                            }
                            label[title="P"]{
                                order: 2;
                            }
                            label[title="M"]{
                                order: 3;
                            }
                            label[title="G"]{
                                order: 4;
                            }
                            label[title="GG"]{
                                order: 5;
                            }
                            .error{
                                order: 99;
                                color: red;
                            }
                            label {
                                border: 1px solid #c8c8c8;
                                border-radius: 100%;
                                color: #606060;
                                height: 40px;
                                width: 40px;
                                font-size: 16px;
                                outline: 0;
                                padding: 0;
                                text-align: center;
                                background: none transparent;
                                font-weight: 300;
                                line-height: 38px;
                                position: relative;
                                &.selected {
                                    border: 2px solid $base-color;
                                    .option-text {
                                        color: $base-color;
                                    }
                                }
                                span {
                                    line-height: 38px;
                                    input {
                                        display: none;
                                    }
                                }
                                // &.unavailable{
                                //     background: #ccc;
                                //     pointer-events: none;
                                // }
                            }
                        }
                    }
                }
                .wd-product-wishlist {
                    display: none;
                }
                .wd-buy-button {
                    width: 80%;
                    margin: 15px 0;
                    .btn-buy {
                        @extend .btn-wide;
                        width: 80%;
                        font-size: 25px;
                        text-transform: lowercase;
                        color: white;
                        font-weight: bold;
                        padding: 1rem;
                        background: $base-color;
                        &:before {
                            display: none;
                        }
                    }
                }
                .buy-box {
                    background-color: #f6f6f6;
                    padding: 30px;
                    border-top: 1px solid $gray-semilight;
                    .wd-product-amount {
                        margin: 20px 0 10px;
                        @include input-quantity(
                            45px,
                            0.6em 0.6em,
                            60px,
                            38px,
                            1.2em
                        );
                        btn {
                            font-weight: bold;
                        }
                    }
                    .wd-product-oneclickbuy,
                    .wd-product-oneclickbuy > div {
                        width: 100%;
                        a:not(.url-read-more) {
                            @extend .btn;
                            @extend .btn-wide;
                            margin-bottom: 15px;
                        }
                        .text-account-text {
                            display: none;
                        }
                    }
                    .wd-product-notifywhenavailable {
                        width: 100%;
                    }
                    .wd-product-wishlist {
                        width: 100%;
                        .btn-product-wishlist-add {
                            @extend .btn-outline;
                            @extend .btn-wide;
                            padding: 15px;
                            font-family: $font-family;
                            font-size: 0.9em;
                            &:before {
                                @include aws-icon("\f004");
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
            .wd-product-deliveryfee {
                width: 100%;
                margin: 15px 0;
                label {
                    font-size: 1.3em;
                    padding-bottom: 15px;
                }
                .input-wrapper,
                .button-wrapper {
                    display: inline-block;
                    vertical-align: bottom;
                    margin-bottom: 0;
                }
            }
            .wd-product-payment-options {
                margin: 15px 0;
                button {
                    @extend .btn-outline;
                    &:before {
                        @include aws-icon("\f09d");
                        padding-right: 5px;
                    }
                }
            }
            .wd-product-bundle {
                .wd-title {
                    font-size: 1.3em;
                    font-weight: bold;
                }
                .buy {
                    margin-top: 10px;
                }
                .bundle-items-wrapper {
                    padding-left: 0;
                    border-bottom: 0;
                }
                .bundle-itemtype-item {
                    padding: 20px 0;
                    background-color: #fff;
                    .title {
                        border: 0;
                        display: block;
                        padding: 0;
                        margin: 0;
                    }
                    .bundle-item-img {
                        img {
                            max-width: 80px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .wd-descriptions {
        margin-bottom: 0.5rem;
        .wd-descriptions-toolbar {
            display: none;
        }
        &.tab-style {
            > .wd-title {
                display: none;
            }
            .wd-descriptions-nav {
                overflow: hidden;
                li {
                    background-color: $gray-light;
                    border: 1px solid $gray-semilight;
                    border-bottom: 0;
                    padding: 15px;
                    margin: 0;
                    margin-left: 5px;
                    height: 53px;
                    &.wd-selected {
                        background-color: $font-light;
                        z-index: 1;
                        margin: 0;
                        a {
                            color: $font-dark;
                            font-size: 1.3em;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .wd-content {
            position: relative;
            top: -1px;
            .wd-descriptions-panel {
                border: 1px solid $gray-semilight;
                padding: 20px;
                margin: 0;
            }
        }
    }
    .wd-product-reviews {
        margin: 30px 0;
        .wd-content {
            padding: 25px;
            .wd-review-title {
                font-size: 1.1em;
            }
            .date {
                font-size: 0.9em;
            }
            cite {
                display: inline-block;
                margin: 0;
                font-style: normal;
            }
            .wd-review-text {
                padding: 10px 0;
                font-size: 1.1em;
            }
            .wd-review-paginate {
                text-align: center;
                ul {
                    display: inline-block;
                    padding-left: 0;
                }
            }
        }
        .wd-footer {
            .review-create {
                display: none;
            }
        }
    }
    .produto-flutuante {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: $gray-light;
        padding: 20px 0;
        border-top: 1px solid $gray-semilight;
        z-index: 100;
        img,
        .name {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            border: 1px solid $gray-semilight;
        }
        .name {
            padding-left: 15px;
            font-size: 1.15em;
        }
        .button {
            text-align: right;
        }
        .wd-product-price-description,
        .wd-buy-button {
            display: inline-block;
            padding: 0;
            margin: 0;
            width: auto;
            vertical-align: middle;
            text-align: right;
        }
        .wd-product-price-description {
            .condition,
            .savings {
                display: none;
            }
        }
        .wd-buy-button {
            padding-left: 15px;
            button {
                @extend .btn-big;
            }
        }
    }
    .more-info {
        padding: 3rem;
        background: white;
        .frete {
            font-size: 1.5em;
            color: white;
            background: #9c9c9c;
            padding: 1.5rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .truck {
                .line-1 {
                    height: 1px;
                    width: 24px;
                    background: white;
                    margin-left: -30px;
                    position: relative;
                    animation: truck1 0.75s infinite linear;
                    -webkit-animation: truck1 0.75s infinite linear;
                    top: 21px;
                }
                .line-2 {
                    height: 1px;
                    width: 24px;
                    background: white;
                    margin-left: -27px;
                    position: relative;
                    animation: truck2 0.5s infinite linear;
                    -webkit-animation: truck2 0.5s infinite linear;
                    top: 24px;
                }
                .line-3 {
                    height: 1px;
                    width: 24px;
                    background: white;
                    margin-left: -30px;
                    position: relative;
                    top: 27px;
                    animation: truck3 0.57s infinite linear;
                    -webkit-animation: truck3 0.57s infinite linear;
                }
                .fa-truck {
                    position: relative;
                    animation: truckmovement 3s infinite linear;
                    -webkit-animation: truckmovement 3s infinite linear;
                }
                @keyframes truckmovement {
                    0% {
                        top: 1px;
                    }
                    50% {
                        top: -1px;
                    }
                    100% {
                        top: 1px;
                    }
                }
                @keyframes truck1 {
                    0% {
                        left: 0px;
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                        left: -15px;
                    }
                }
                @keyframes truck2 {
                    0% {
                        left: 0px;
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                        left: -13px;
                    }
                }
                @keyframes truck3 {
                    0% {
                        left: 0px;
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                        left: -18px;
                    }
                }
            }
            .free-shipping {
                margin-right: 0.5rem;
                background-color: $base-color;
                padding: 0.3rem;
                font-weight: bold;
            }
        }
        .fa-truck {
            font-size: 1.5em;
            margin-right: 1rem;
        }
        .guia-medidas {
            padding: 3rem;
            text-align: center;
            cursor: pointer;
        }
    }
    .best-sellers {
        .wd-product-line {
            background: white;
        }
        .wd-header {
            padding: 0;
            margin-bottom: 1.5rem;
        }
        .wd-title {
            width: 100%;
            color: #606060;
            &:after {
                content: "";
                height: 1px;
                display: block;
                width: 100%;
                border-top: 2px dotted #606060;
                margin-top: -18px;
                margin-left: 205px;
            }
        }
    }
    .leva-tambem {
        .wd-product-line {
            background: white;
        }
        .wd-browsing-product-carousel {
            .wd-header {
                padding: 0;
                margin-bottom: 1.5rem;
            }
            .wd-title {
                width: 100%;
                background: white;
                color: #606060;
                &:after {
                    content: "";
                    width: 30px;
                    height: 4px;
                    margin-top: 10px;
                    margin-left: initial;
                    background: #dd551e;
                    border: none;
                    display: block;
                }
            }
        }
    }

    .priceContainer{
        .condition{
            margin: 0;
            padding-top: 1rem;
            max-width: 100%;
        }
    }
}
@media screen and (max-width: 768px) {
    .product-detail {
        .head {
            .medias {
                .wd-product-media-selector {
                    ul {
                        &.media-selector {
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .product-detail {
        .head {
            .information {
                .product-information {
                    padding: 0.9rem;
                }
                .buy {
                    padding: 0.9rem;
                    .wd-buy-button {
                        position: fixed;
                        bottom: 0;
                        left: 0;
                        padding: 0;
                        margin: 0;
                        z-index: 99;
                        width: 100%;
                    }
                }
            }
            .medias {
                .wd-product-medias-displayer {
                    display: none;
                }
                .wd-product-media-selector {
                    .media-selector {
                        display: none !important;
                    }
                }
                .medias-mobile {
                    display: block !important;
                    .slick-dots {
                        display: flex !important;
                        justify-content: center;
                        li {
                            margin: 0.5rem;
                            &.slick-active {
                                button {
                                    background: #666;
                                    border-color: #666;
                                }
                            }
                            button {
                                padding: 0;
                                font-size: 0;
                                border: 1px solid #858585;
                                width: 10px;
                                height: 10px;
                                background: transparent;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
