.wd-widget {
    overflow: hidden;
    .wd-header {
        span.wd-icon {
            display: inline-block;
        }
        .wd-title {
            display: inline-block;
        }
    }
    &.wd-browsing-product-carousel,
    &.wd-product-list,
    &.wd-product-featured-list {
        margin-top: 30px;
        .wd-header {
            padding: 15px;
            margin-bottom: 10px;
            font-size: 2em;
            position: relative;
            border-bottom: 1px solid $gray-semilight;
            .wd-icon {
                &:before {
                    @include aws-icon("\f054");
                    font-size: 0.8em;
                    color: $base-color;
                }
            }
        }
    }
}
.wd-browsing-breadcrumbs {
    margin-bottom: 20px;
    .location {
        display: none;
    }
    li:not(.last) {
        &:after {
            @include aws-icon("\f105");
            color: $gray-dark;
        }
        a {
            color: $gray-dark;
        }
    }
    .last {
        strong {
            font-weight: bold;
        }
    }
}

/* carrossel de marcas */
.wd-brand-carousel {
    li {
        width: auto;
        margin: 0 10px 0 0;
    }
    .jcarousel-control-prev,
    .jcarousel-control-next {
        line-height: 60px;
        i {
            color: $base-color;
            font-size: 30px;
            top: 15px;
            &:hover {
                color: $darken-color;
            }
        }
    }
}

/* banners */
.wd-marketing-banner {
    @include grid-media($grid-smartphone) {
        height: auto !important;
        line-height: normal !important;
        max-width: 100%;
    }

    .banner-wrapper,
    a {
        @include grid-media($grid-smartphone) {
            max-width: 100%;
            height: auto !important;
        }
    }
    &.slider {
        &:hover{
            #botao-menos-banners,
            #botao-mais-banners{
                visibility: visible;
            }    
        }
        #botao-menos-banners {
            position: absolute;
            top: 45%;
            left: 2%;
            width: 50px;
            height: 50px;
            background: $base-color;
            border-radius: 100%;
            cursor: pointer;
            visibility: hidden;
        }
        .botao-menos-banners {
            border: solid white;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 7px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            position: absolute;
            top: 37%;
            left: 39%;
        }
        #botao-mais-banners {
            position: absolute;
            top: 45%;
            right: 2%;
            width: 50px;
            height: 50px;
            background: #ff8700;
            border-radius: 100%;
            cursor: pointer;
            visibility: hidden;
        }
        .botao-mais-banners {
            border: solid white;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 7px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: absolute;
            top: 37%;
            right: 43%;
        }
        .slider-controller {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            display: block;
            margin: 0;
            padding: 0.5em 2em;
            line-height: normal;
            text-align: center;
            li {
                font-size: 0;
                float: none;
                display: inline-block;
                background: #ffbd37;
                border: none;
                height: 10px;
                line-height: 10px;
                width: 10px;
                border-radius: 100%;
                font-weight: 700;
                box-shadow: none;
                @include grid-media($grid-smartphone) {
                    height: 20px;
                    line-height: 20px;
                    width: 20px;
                }
                &.current {
                    background-color: $base-color;
                    color: $font-light;
                }
            }
        }
    }
    &:not(.menu-oferta) {
        img {
            max-width: 100%;
            height: auto;
            @include grid-media($grid-smartphone) {
                width: 100%;
            }
        }
    }
    &.grid {
        padding: 0;
        float: left;
        margin-bottom: 20px;
        @include grid-media($grid-m) {
            max-width: 100%;
            div {
                text-align: center;
            }
        }

        &:nth-child(2n) {
            float: right;
        }
    }
}
@media screen and (max-width: 1079px) {
    .wd-marketing-banner {
        a,
        .banner-wrapper {
            text-align: center !important;
        }
    }
}
