// nome da pasta do tema
$theme-path: "Base";

// colors
$base-color: #ff8700;
$base-color-2: #ff8973;
$btn-hover: #8e4405;
$darken-color: mix($base-color, black, 80%);
$lighten-color: mix($base-color, white, 80%);
$font-dark: #444444;

$font-light: #fff;
$gray-dark: #777;
$gray-medium: #ccc;
$gray-semilight: #ddd;
$gray-light: #eee;
$gray-extralight: #f1f1f1;

$btn-buy: #22884f;
$price-off: #a1000c;
$cart-total: #22884f;
$cart-destaque: #22884f;
// alerts
$success: #dff0d8;
$info: #d9edf7;
$warning: #fcf8e3;
$danger: #f2dede;

//flags
$flag: #22884f;

// fonts settings
$font-family: "Helvetica";
$font-heavy: "Helvetica Heavy";
$font-size: 14px;

// structure
$wrapper: 1250px;

// quantidade de produtos por linha em vitrine carrossel
$qtd-products-vitrine: 4;

$grid-pp: (
    columns: 12,
    gutter: 20px,
    media: "screen and (max-width: 575px)"
);
$grid-p: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width: 575px) and (max-width:767px)"
);
$grid-m: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width: 768px) and (max-width:991px)"
);
$grid-g: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width: 992px) and (max-width:1179px)"
);
$grid-gg: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width: 1180px)"
);
$grid-smartphone: (
    columns: 12,
    gutter: 20px,
    media: "screen and (max-width:767px)"
);
$grid-tablet-desktop: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width:768px)"
);

$breakpoint-mobile: 768px;
