@font-face {
    font-family: 'Helvetica Light Italic';
    src: url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-ThIt.woff2') format('woff2'),
        url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-ThIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Heavy Italic';
    src: url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-HvIt.woff2') format('woff2'),
        url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-HvIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Italic';
    src: url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-It.woff2') format('woff2'),
        url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Heavy';
    src: url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-Hv.woff2') format('woff2'),
        url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Helvetica/HelveticaNeueLTStd-Hv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

