/* bordas arredondadas */
@mixin round($radius: 5px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
@mixin round-left($radius: 5px) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin round-right($radius: 5px) {
    -webkit-border-top-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -moz-border-radius-bottomright: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

/* largura de wrapper */
@mixin wrapper-width($width: $wrapper) {
    width: $width;
    max-width: $width;
}

/* calcula a largura de um elemento dividindo a quantidade de itens pela largura total disponível */
@mixin calculate($fullWidth, $quantity) {
    $width: $fullWidth / $quantity;
    width: $width;
}

@mixin minus($fullWidth, $sub) {
    $width: $fullWidth - $sub;
    width: $width;
}

// gera icone usando FontAwesome
// necessario inserir dentro de um pseudoelemento
@mixin aws-icon($icon, $weight: bold) {
    content: $icon;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: $weight;
}

/* flags */
@mixin flag(
    $display: table,
    $padding: 0.3em 0.6em,
    $font-size: 0.8em,
    $bg-color: $flag,
    $color: $font-light,
    $margin: 0 0 3px 0,
    $round: 2px
) {
    display: $display;
    padding: $padding;
    font-size: $font-size;
    text-transform: uppercase;
    background-color: $bg-color;
    color: $color;
    text-align: center;
    margin: $margin;
    @include round($round);
}

/* usado no carrinho e detalhe do produto para estilizar o input de quantidade */
@mixin input-quantity(
    $button-width,
    $button-padding,
    $input-width,
    $input-height,
    $size-btn: $font-size
) {
    button {
        background: $gray-extralight;
        color: $base-color;
        font-weight: normal;
        font-size: $size-btn;
        padding: $button-padding;
        width: $button-width;
        float: left;
        border: 1px solid $gray-semilight;
        @include round(0);
        &[disabled] {
            color: $gray-medium;
        }
    }
    input {
        float: left;
        width: $input-width;
        height: $input-height;
        text-align: center;
        @include round(0);
        border: 1px solid $gray-semilight;
        border-right: 0;
        border-left: 0;
        margin: 0;
    }
}
