.wd-product-price-description {
    margin: 10px 0;
    .list-price {
        color: $gray-dark;
        font-size: 0.9em;
        &.variation {
            color: $font-dark;
            span {
                font-weight: bold;
                font-size: 1.6em;
                color: $base-color;
            }
        }
    }
    .sale-price {
        .prefix {
            font-size: 1em;
        }
        span {
            font-weight: bold;
            font-size: 1.4em;
            color: $base-color;
        }
    }
    .condition {
        font-size: 11px;
        line-height: 1.3em;
        max-width: 12rem;
        align-items: center;
        margin: 0 auto;
        .parcels,
        .parcel-value {
            font-weight: bold;
        }
    }
    .savings {
        font-size: 1em;
        .discount {
            font-weight: bold;
            color: $price-off;
        }
    }
}
.wd-product-line {
    .wd-product-price-description {
        height: 75px;
    }
}
.product-detail .head {
    .sale-price {
        span {
            font-size: 2em;
        }
    }
}
