@import "./bower_components/neat/core/_neat";

@import "configs";
@import "mixins";
@import "botoes";

body.HomeRoute {
    .wd-browsing-breadcrumbs {
        display: none;
    }
    .banner-news-middle {
        overflow: hidden;
        margin: 0 !important;
        position: relative;
        background: #c1c1c1;
        bottom: 0.3rem;
        display: flex;
        justify-content: space-around;
        max-height: 75px;
        > div {
            float: left;
            &:first-child {
                padding: 0;
            }
            &:last-child {
                float: right;
            }
            .wd-marketing-newsletter {
                @media screen {
                    width: 100% !important;
                }
                .wd-header {
                    width: 45%;
                    @include grid-media($grid-pp) {
                        width: 100%;
                    }
                    .wd-icon {
                        display: none;
                    }
                    .wd-title {
                        font-size: 1.4em;
                        small {
                            display: block;
                            font-size: 0.66em;
                            font-weight: normal;
                        }
                    }
                }
                .wd-header {
                    display: none;
                }
                .wd-content {
                    float: left;
                    padding: 12px 0;
                    .form-wrapper {
                        display: flex;
                        align-items: baseline;
                    }
                }
                .wd-content {
                    width: auto;
                    @include grid-media($grid-pp) {
                        width: 100%;
                    }
                    form {
                        margin: 0;
                    }
                    .input-name-marketing-newsletter,
                    label,
                    .form-wrapper > p {
                        display: none;
                    }
                    .input-email-marketing-newsletter {
                        width: 35rem;
                        input {
                            height: 38px;
                            @include round-right(0);
                        }
                    }
                    .input-button-marketing-newsletter {
                        width: auto;
                        button {
                            background: url(/custom/content/themes/Base/Imagens/footer-go.png)
                                scroll 0 5px $base-color no-repeat;
                            margin-left: 15px;
                            padding: 0;
                            width: 70px;
                            height: 38px;
                            text-indent: -9999rem;
                            border-radius: 0;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            -ms-border-radius: 0;
                            -o-border-radius: 0;
                            overflow: hidden;
                            position: relative;
                            top: 14px;
                        }
                    }
                    .input-email-marketing-newsletter,
                    .input-button-marketing-newsletter {
                        float: left;
                    }
                }
            }
        }
        .wrapper_newsletter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and(max-width: 425px) {
                flex-direction: column;
            }
        }

        .desc-news {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            @media screen and(max-width: 768px){
                padding-left: .4rem;
            }
            @media screen and(max-width: 425px){
                padding: 0 1rem;
            }
            .my-news {
                font-size: 47px;
                width: 5rem;
                font-weight: 600;
                font-family: $font-heavy;
                line-height: 27px;
                padding: 0;
                margin: 5px 0 0 0;
                color: #666;
                @media screen and(max-width: 425px){
                    font-size: 35px;
                }
                span {
                    font-size: 28px;
                    @media screen and(max-width: 425px){
                        font-size: 23px;
                    }
                }
            }
            .my-news-text {
                font-size: 18px;
                font-weight: 600;
                font-family: $font-heavy;
                line-height: 20px;
                color: #666666;
                margin-left: 1.5rem;
                @media screen and(max-width: 1024px){
                    font-size: 11px;
                }
                @media screen and(max-width: 768px){
                    font-size: 12px;
                }
                @media screen and(max-width: 425px){
                    font-size: 13px;
                    margin-left: 0;
                }
                .desconto {
                    font-size: 1.1em;
                    strong {
                        text-decoration: underline;
                    }
                }
                span {
                    display: block;
                }
            }
        }
    }
}

.wrapper {
    > div {
        clear: both;
    }
    .area-4 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
        @media screen and(max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    .social-description {
        margin-bottom: 1rem;
    }
    .go-social {
        .wd-marketing-banner {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 1rem;
        }
    }
    .wd-product-list {
        .wd-header {
            span {
                &.wd-icon {
                    display: none;
                }
            }
        }
    }

    @media screen and(max-width:820px) {
        .go-social {
            .wd-marketing-banner {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;
            }
        }
    }

    .banner-instagram {
        display: table;
        width: 100%;
        margin-top: 30px;
        h2 {
            color: #606060;
            font-weight: 600;
            font-size: 40px;
            text-transform: lowercase;
            margin: 0 0 10px 0;
        }
        .follow {
            display: block;
            color: #606060;
            line-height: normal;
            white-space: pre-wrap;
            margin-bottom: 20px;
            a {
                color: $base-color;
            }
        }
        #iframe-instaby-container {
            height: 690px;
            width: 100%;
            margin-top: 0;
        }
    }
}

@media screen and(max-width:768px) {
    .banner-news-middle {
        max-height: max-content !important;
        .newsletter {
            width: 50% !important;
            padding: 1rem;
        }
        .wd-marketing-newsletter {
            .wd-content {
                width: 100% !important;
                .input-email-marketing-newsletter {
                    width: 100% !important;
                }
            }
        }
    }
}

@media screen and(max-width: 425px){
    
    .banner-news-middle{
        .newsletter{
            padding: 0 1rem !important;
            width: 100% !important;
        }
        > div {
            .wd-marketing-newsletter{
                .wd-content{
                    padding: 0 !important;
                }
            }
        }
    }
}

@media screen and(max-width:375px) {
    .banner-news-middle {
        max-height: max-content !important;
        .my-news-text {
            font-size: 0.9em !important;
            .desconto {
                font-size: 0.9em !important;
            }
        }
    }
}
