#left {
    padding: 0;
    margin: 0;
    width: 22%;
    .wd-facet-group {
        .facets {
            background: #f6f6f6;
            border: 0;
            text-transform: lowercase;
            @include round(0);
            .facet-type {
                padding: 20px 20px;
                margin-bottom: 10px;
                background: white;
                .facet-type-list {
                    .facet-title {
                        font-size: 15px;
                        font-weight: 300;
                        display: block;
                        border-bottom: 1px solid #dcdcdc;
                        padding-bottom: 15px;
                        text-transform: lowercase;
                        color: #606060;
                        border-top: none;
                        &::before {
                            display: none;
                        }
                        &::after {
                            display: none;
                        }
                        &.facet-closed {
                            &::after {
                                @include aws-icon("\f078");
                            }
                        }
                    }
                    ul {
                        padding: 10px 10px 10px 5px;
                        li {
                            font-size: 13px;
                            margin: 0;
                            margin-bottom: 0.9rem;
                            h4 {
                                a {
                                    color: #606060;
                                    .option-count {
                                        display: none;
                                    }
                                    .option-title {
                                        color: #555;
                                    }
                                }
                            }
                        }
                    }
                }
                .facet-type-range .range-wrapper {
                    background: #fff;
                    border: 0;
                    * {
                        box-shadow: none;
                        color: $font-dark;
                    }
                    .handler {
                        .icon {
                            @include round(100%);
                            background-color: $font-light;
                            width: 12px;
                            height: 12px;
                            border: 1px solid $gray-medium;
                        }
                    }
                    .defined-range {
                        background: $lighten-color;
                    }
                    .submit {
                        @extend .btn;
                        @extend .btn-wide;
                        margin-top: 35px;
                    }
                }
                &.size {
                    .facet-type-list {
                        ul {
                            li {
                                display: inline;
                                &:last-child{
                                    display: none;
                                }
                                h4 {
                                    display: inline;
                                    a {
                                        .option-title {
                                            color: #777;
                                            font-weight: 400;
                                            padding: 4px 8px;
                                            min-width: 32px;
                                            text-align: center;
                                            margin: 0 7px 7px 0;
                                            display: inline-block;
                                            text-transform: uppercase;
                                            background: transparent;
                                            font-size: 15px;
                                            border: 1px solid transparent;
                                            width: 40px;
                                            height: 40px;
                                            border-radius: 100%;
                                            line-height: 30px;
                                        }
                                        &:hover {
                                            .option-title {
                                                border-color: $base-color;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .colors {
                li {
                    display: inline;
                    h4 {
                        display: inline;
                        a {
                            .option-count {
                                display: none;
                            }
                            .option-title {
                                display: none;
                            }
                            .markup-color {
                                width: 26px;
                                height: 26px;
                                display: block;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }

            .rating {
                display: none;
            }
        }
        .selected-facets {
            background: $gray-extralight;
            border: 0;
            margin: 0;
            @include round(2px);
            &::before {
                text-transform: uppercase;
                font-size: 0.9em;
            }
            .selected-facet {
                border: 0;
                border-bottom: 1px solid $gray-light;
                margin: 0;
                @include round(0);
                &:last-child() {
                    border: 0;
                }
                .selected-facet-name {
                    background: none;
                }
                ul {
                    li {
                        margin-top: 0;
                        margin-bottom: 5px;
                        border: 0;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
#showFacets {
    display: none;
}
@media screen and(max-width: 992px) {
    #left {
        width: 0;
        &.active {
            .wd-facet-group {
                position: fixed;
                top: 0;
                right: 0;
                z-index: 100;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
    }
    #showFacets {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 101;
        &:after {
            content: " Filtrar";
        }
        .icon:before {
            @include aws-icon("\f0b0");
        }
        &.active {
            width: 80px;
            bottom: initial;
            top: 0;
            background-color: transparent;
            color: $font-dark;
            &:after {
                content: "";
            }
            .icon:before {
                @include aws-icon("\f00d");
                font-size: 2em;
            }
        }
    }
}
