.wd-product-line {
    padding: 0;
    .wd-product-line-medias-variations {
        display: none;
    }
    .item-description {
        .name {
            font-size: 15px;
            display: block;
            line-height: 1.4em;
            margin: 5px 0 5px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-transform: lowercase;
            font-weight: 400;
            height: 20px;
            text-align: center;
            padding: 0 1rem;
            a {
                color: #606060;
            }
            &:hover {
                a {
                    text-decoration: none;
                }
            }
        }
        > .wd-product-rating {
            display: none;
        }
        .brand-ref {
            display: none;
        }
        .description {
            display: none;
        }
        .wd-product-price-description {
            margin: 5px 0;
            min-height: 45px;
            display: inline-block;
            width: 100%;
            .priceContainer {
                text-align: center;
                .sale-price {
                    .prefix {
                        display: none;
                    }
                    span {
                        display: inline-block;
                        color: #ff8700;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
        .more {
            display: none;
        }
        .bottom {
            position: absolute;
            top: 18rem;
            left: 0;
            width: 100%;
            padding: 0 1.5rem;
            opacity: 0;
            .btn{
                width: 100%;
            }
        }
    }
    .wd-buy-button {
        width: 100%;
        height: 40px;
        font-size: 18px;
        line-height: 36px;
        padding: 0 3px;
        font-weight: 600;
        text-transform: lowercase;
        button {
            &.btn-buy {
                background: $base-color;
                width: 100%;
                opacity: 0;
                &:before {
                    display: none;
                }
            }
        }
        form[name="formBuyButton"] {
            display: block;
        }
    }
    .more {
        font-size: 0.9em;
        li {
            margin: 5px 0;
            a {
                &:before {
                    content: "+ ";
                }
            }
        }
    }
}
