.wd-product-list {
    .wd-content {
        > ul {
            @media screen and(max-width: 425px) {
                display: grid;
                grid-template-columns: repeat(2, minmax(100px, 1fr));
                grid-gap: 1rem;
                li {
                    width: 100% !important;
                    .wd-product-line-medias {
                        .thumb {
                            width: 100% !important;
                            div {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            li {
                width: auto;
                padding: 0;
                &:hover {
                    .bottom {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.wd-browsing-product-carousel {
    .wd-product-list {
        .wd-product-list {
            height: auto;
            li {
                @include calculate($wrapper, $qtd-products-vitrine);
                margin: 0;
                &:hover {
                    .bottom {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .jcarousel-control-next,
    .jcarousel-control-prev {
        background: transparent;
        i {
            font-size: 1em;
        }
    }
}

.wd-product-list-contextual {
    .wd-product-list {
        li {
            min-height: 350px;
            height: 360px;
            width: auto;
            .medias,
            .item-description {
                @include grid-column(6);
                margin: 0;
            }
        }
    }
}

.wd-product-featured-list {
    .wd-content {
        @extend .row;
        .featured,
        .other {
            margin: 0;
            .product {
                padding: 0;
            }
        }
        .other {
            .product {
                margin-bottom: 10px;
                overflow: hidden;
                height: auto;
            }
            .name {
                color: $font-dark;
                display: block;
            }
            .medias {
                @include grid-column(2);
                @include grid-media($grid-pp) {
                    @include grid-column(12);
                }
                .img {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .item-description {
                @include grid-column(10);
                @include grid-media($grid-pp) {
                    @include grid-column(12);
                }
                .col {
                    padding: 0;
                }
            }
            .wd-product-price-description {
                position: initial;
                .sale-price span {
                    font-size: 1em;
                    color: $font-dark;
                }
                .savings,
                .condition {
                    display: none;
                }
            }
        }
        .img {
            position: initial;
        }
        .featured {
            .product {
                @extend .row;
                .name {
                    color: $font-dark;
                    font-size: 1.2em;
                    font-weight: bold;
                    display: block;
                    margin: 10px 0;
                }
                .medias,
                .item-description {
                    margin: 0;
                    vertical-align: middle;
                }
            }
        }
    }
}

.page-description {
    display: flex;
    justify-content: space-between;
    h2 {
        text-transform: lowercase;
        color: #606060;
        font-size: 30px;
    }
    .text-category {
        display: none;
    }
}

.wd-browsing-grid-sorter {
    display: flex;
    text-transform: lowercase;
    padding: 1rem;
    align-items: center;
    span {
        min-width: 6rem;
    }
    select {
        border-radius: 4px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        text-transform: lowercase;
        border: none;
    }
}

@media screen and (max-width: 575px) {
    .wd-product-list-contextual {
        .wd-product-list {
            li {
                height: 585px;
                .medias,
                .item-description {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

body.grid-products {
    .busca-vazia {
        display: none;
    }
}

body.grid-empty {
    .wd-browsing-breadcrumbs {
        li {
            &.last {
                display: none;
            }
        }
    }
    #content {
        padding-left: 15px !important;
        width: 100% !important;
        .busca-vazia {
            display: block;
            margin-top: 20px;
            text-transform: lowercase;
            h5 {
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.1;
                color: #606060;
            }
            ul {
                list-style-type: disc;
                li {
                    margin-left: 42px;
                    color: #606060;
                    font-size: 0.8rem;
                }
            }
        }
        .wd-content {
            display: none;
        }
    }
}
