.wd-browsing-grid-sorter {
    position: initial !important;
}

.wd-browsing-grid {
    header {
        .wd-browsing-grid-pager {
            display: none;
        }
    }
    footer {
        .wd-browsing-grid-sorter {
            display: none;
        }
        .wd-browsing-grid-pager {
            .description {
                display: none;
            }
            &:after {
                background: #8d8d8d;
                content: "";
                height: 1px;
                top: 50%;
                position: absolute;
                width: 100%;
                z-index: 0;
                left: 0;
            }
        }
        .page-number {
            margin: 0;
            background: #f6f6f6;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            span {
                cursor: pointer;
                background: transparent !important;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 100%;
                transition: all 0.5s ease-out;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #ddd;
                margin: 0 10px;
                &.page-selected {
                    border: 2px solid $base-color;
                    color: $base-color;
                }
                &:hover {
                    &:not(.page-selected) {
                        border: 2px solid black;
                    }
                }
            }
        }
    }
    .wd-browsing-grid-sorter {
        position: initial;
        width: 27%;
        min-width: 250px;
        display: inline-block;
        float: right;
        @include grid-media($grid-smartphone) {
            float: left;
            margin-top: 15px;
        }
        * {
            display: inline-block;
        }
        select {
            max-width: 160px;
            margin-left: 5px;
        }
    }
    .wd-browsing-grid-pager {
        width: 100%;
        display: flex;
        justify-content: center;
        @include grid-media($grid-smartphone) {
            width: 100%;
        }
    }
    .wd-browsing-grid-list {
        margin: 15px 0;
        > ul {
            border-top: 1px solid $gray-light;
            border-bottom: 1px solid $gray-light;
            padding-bottom: 30px;
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 1fr));
            grid-gap: 1rem;
            li {
                background: white;
                width: 100%;
                max-width: 277px;
                .item-description {
                    .priceContainer {
                        .sale-price {
                            span {
                                color: #606060;
                            }
                        }
                    }
                }
                &:hover {
                    .bottom {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #content {
        padding-left: 0 !important;
    }
    .grid-products #content-wrapper {
        margin: 0;
    }
    .wd-browsing-grid-sorter {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .wd-browsing-grid-list {
        > ul {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }
}

.wd-browsing-grid{
    .wd-content{
        header{
            display: none;
        }
    }
}