.AccountRegisterRoute {
    .wd-profile-register {
        background-color: $font-light;
        margin: 0 auto;
        padding: 0 10px;
        text-transform: lowercase;
        color: #606060;
        max-width: 440px;
        .wd-header {
            .wd-icon {
                display: none;
            }
            .wd-title {
                // @extend h2;
                display: none !important;
            }
        }
        .wd-subtitle {
            @extend h3;
        }
        fieldset {
            &.customer-type-data {
                overflow: visible !important;
            }
            .wd-subtitle {
                display: none;
            }
            .customer-type-person {
                .customer-type-radio {
                    input[type="radio"] {
                        display: none;
                    }
                    label {
                        padding: 10px 15px 10px 0;
                        cursor: pointer;
                    }
                }
            }
            .customer-type.customer-type-person {
                display: block !important;
            }
            .input-wrapper:not(.customer-type-person) {
                width: 49%;
                float: left;
                min-height: 90px;
                input[type="text"],
                input[type="password"],
                select {
                    border: 1px solid #f7f7f7;
                    box-shadow: 1px 2px 2px #dedede;
                    border-radius: 0;
                }
                &:nth-child(2n) {
                    float: right;
                }
                &.addorsetcustomer-name,
                &.addorsetcustomer-surname,
                &.input-wrapper-email,
                &.addorsetcustomer-cpf {
                    width: 100%;
                }
                &.addorsetcustomer-gender,
                &.addorsetcustomer-birthdate {
                    width: 50%;
                    float: left;
                }
                &.addorsetcustomer-gender {
                    padding-left: 10px;
                }
                @include grid-media($grid-pp) {
                    width: 100% !important;
                    padding: 0 !important;
                }
            }
        }
        .bt-submit {
            @extend .btn-wide;
        }
        .input-wrapper {
            position: relative;
            input {
                height: 55px !important;
                &:focus {
                    & + .field-title {
                        font-size: 75%;
                        top: -3px;
                        left: 13px;
                    }
                    span {
                        & + .field-title {
                            font-size: 75%;
                            top: -3px;
                            left: 13px;
                        }
                    }
                }
                &.float-label {
                    & + .field-title {
                        font-size: 75%;
                        top: -3px;
                        left: 13px;
                    }
                }
            }
            .field-title {
                position: absolute;
                top: 10px;
                left: 10px;
            }
            small {
                display: none;
            }
            &.addorsetcustomer-gender,
            &.addorsetaddress-0-state {
                .field-title {
                    display: none;
                }
            }
            select {
                height: 55px;
            }
        }
    }
    .login_header_title {
        font-size: 1.8em;
        font-weight: bolder;
        margin-bottom: 3rem;
        text-align: center;
        text-transform: uppercase !important;
    }
    .social_words {
        font-size: 1em;
        text-align: center;
        text-transform: uppercase !important;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .login_split {
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2rem;
        max-width: 400px;
        text-transform: uppercase !important;
        font-size: 0.8em;
        font-weight: bold;
        &::before,
        &::after {
            background-color: #000;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }
        &::before {
            right: 0.5em;
            margin-left: -50%;
        }
        &::after {
            left: 0.5em;
            margin-right: -50%;
        }
    }
}

meter {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value {
    background: red;
}
meter[value="2"]::-webkit-meter-optimum-value {
    background: yellow;
}
meter[value="3"]::-webkit-meter-optimum-value {
    background: orange;
}
meter[value="4"]::-webkit-meter-optimum-value {
    background: green;
}

meter[value="1"]::-moz-meter-bar {
    background: red;
}
meter[value="2"]::-moz-meter-bar {
    background: yellow;
}
meter[value="3"]::-moz-meter-bar {
    background: orange;
}
meter[value="4"]::-moz-meter-bar {
    background: green;
}
