.LoginRoute {
    button[name="Login.Submit"] {
        align-items: center;
        display: flex;
        width: 50%;
        justify-content: center;
        text-transform: uppercase;
        padding: 1.2rem;
        margin: 0 auto;
        margin-top: 2rem;
        background: $base-color;
    }
    .js-login-recoverpassword {
        display: block;
        text-align: center;
        margin: 0;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 0.2rem;
    }
    .register-now {
        @extend .btn-outline;
        max-width: 200px;
        display: block;
        text-align: center;
        margin: 0 auto 20px;
    }

    .container {
        background: white;
        margin-top: 2rem;
        .input-wrapper {
            input {
                box-shadow: 1px 2px 2px #dedede;
            }
        }
        .row {
            position: relative;
        }
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        h2 {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            color: black;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        .login_form {
            background-color: #f1f1f1;
            padding: 2rem 5rem;
            width: 100%;
        }
        .login_header_title {
            text-transform: uppercase !important;
            font-size: 2em;
            font-weight: bolder;
            margin-bottom: 3rem;
        }
        .login_split {
            overflow: hidden;
            text-align: center;
            margin: 2rem 0;
            &::before,
            &::after {
                background-color: #000;
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 50%;
            }
            &::before {
                right: 0.5em;
                margin-left: -50%;
            }
            &::after {
                left: 0.5em;
                margin-right: -50%;
            }
        }
        .recover_label {
            display: flex;
            text-transform: uppercase;
            font-size: 0.7em;
            margin-top: 0.5rem;
        }
        .login_register {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            flex-flow: column wrap;
            h3,
            h4,
            a {
                margin: 0;
                text-transform: uppercase;
            }
            a {
                text-decoration: underline;
                color: $base-color;
            }
            .login_register_title {
                margin-bottom: 0.2rem;
            }
        }
    }

    .the-modal {
        .close {
            color: gray;
            background-color: white;
        }
    }
    .the-modal-container {
        .wd-profile-login {
            max-width: 100%;
            .wd-header {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                font-weight: bolder;
                margin-bottom: 1rem;
                .wd-title {
                    text-transform: uppercase;
                    font-size: 1.5em;
                }
            }
            .recover_aux_text {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase !important;
                color: black;
                font-weight: bold;
                font-size: 0.9em;
                margin-bottom: 1rem;
            }
            ::-webkit-input-placeholder {
                text-transform: uppercase;
                font-size: 0.8em;
            }
            ::-moz-placeholder {
                text-transform: uppercase;
                font-size: 0.8em;
            }
            :-ms-input-placeholder {
                text-transform: uppercase;
                font-size: 0.8em;
            }
            input:-moz-placeholder {
                text-transform: uppercase;
                font-size: 0.8em;
            }
            .recover-password-button {
                align-items: center;
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                padding: 1.2rem;
                margin: 0 auto;
                margin-top: 2rem;
                background: #292929;
                &:hover{
                    background: rgba(41, 41, 41, 0.7);
                }
            }
        }
    }

    .wd-profile-login {
        form {
            .input-wrapper {
                margin-bottom: 5px;
                label {
                    display: none;
                }
            }
        }
        button {
            &:hover {
                background: $darken-color;
            }
        }
        a {
            text-decoration: underline;
            color: $base-color;
            &:hover {
                color: $base-color;
            }
        }
    }
}
