.area-profile {
    button {
        @include button(normal, 1px);
    }
    .wd-browsing-breadcrumbs {
        display: none;
    }
    .center-box {
        background-color: #fff;
        @media screen and (min-width: $breakpoint-mobile) {
            padding: 25px;
            margin: 30px;
        }
    }
    span.error {
        color: darken($danger, 40%);
        display: inline-block;
        padding: 5px;
    }
    &:not(.page-login):not(.page-register) {
        #content {
            @extend .col-lg-10 !optional;
            @extend .order-2 !optional;
            float: right;
            clear: none;

            #content-wrapper {
                margin: 0;
                .wd-title {
                    font-size: 1.6em;
                    font-weight: bold;
                }
            }
        }
    }
    #left {
        margin: 0;
        @extend .order-1 !optional;
        @extend .col-lg-2 !optional;
    }
    .wd-browsing-breadcrumbs {
        display: none;
    }
    .center-box {
        background-color: #fff;
        box-shadow: none;
        @media screen and (min-width: $breakpoint-mobile) {
            padding: 25px;
            margin: 30px;
        }
        @media screen and (max-width: $breakpoint-mobile) {
            padding: 25px;
        }
    }
    span.error {
        color: darken($danger, 40%);
        display: inline-block;
        padding: 5px;
    }
    &:not(.page-login):not(.page-register) {
        #content {
            @extend .col-lg-10 !optional;
            width: inherit;
            @extend .order-2 !optional;
            #content-wrapper {
                margin: 0;
            }
            @media screen and (max-width: $breakpoint-mobile) {
                padding: 0;
            }
        }
    }
    #left {
        margin: 0;
        @extend .order-1 !optional;
        @extend .col-lg-2 !optional;
        @media screen and (max-width: $breakpoint-mobile) {
            padding: 0;
        }
    }
}
